
/*
.fileMenuContainer{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background-color-dark2);
    opacity: 1;
    display: block;
    position: relative;
}
*/

.fileMenuContainer.hidden{
    display: none;
    background-color: var(--background-color-dark1);
}

.fileMenuContainer li{
    margin-bottom: 1rem;
}

.fileMenuContainer h4{
    font-size: 1rem;
    margin-top: 3rem;

}
.fileMenuContainer h2{
    font-weight: lighter;
}


.fileMenuContainer button{
    background-color: var(--red-button-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 0.8rem;
    transition: all 100ms ease-in-out;
    color: var(--color-button-text);
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (hover: hover) and (pointer: fine) {

.fileMenuContainer button:hover{
    background-color: var(--red-button-hover-color);

}

}

/* File Input */

.fileMenuInput{
    display: none;
}

.currentOpenFileDisplayElement{
    display: block;
    font-size: 0.8rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0.5rem;
    color: var(--low-emphasis-color);

}

.currentOpenFileDisplayElement.empty{
    display: none;
}

.fileMenuContainer .buttonPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.fileMenuContainer .errorMessage.warning{
    color: var(--color-warning);
}

.fileMenuContainer .errorMessage.error{
    color: var(--color-error);
}


.fileMenuContainer .errorMessage{
    padding: 0.5rem;
    background-color: var(--background-color-dark3);
    box-shadow: 0.2rem 0.2rem 0.1rem var(--background-color-dark1);
    display: none;
}

.fileMenuContainer .errorMessage.active{
    display: block;
}




/* Text export */

.fileMenuContainer .buttonPanel .textStorageContainer button,
.fileMenuContainer .buttonPanel .textStorageContainer.clicked textarea {
    display: block;
}

.fileMenuContainer .buttonPanel .textStorageContainer.clicked button,
.fileMenuContainer .buttonPanel .textStorageContainer textarea {
    display: none;
}
